[user]
    name = kohdice
    email = kohdice.biz@gmail.com
[core]
    editor = nvim
    excludesfile = ~/.gitignore
    ignorecase = false
[alias]
    a = "!git status --short | fzf --multi | awk '{print $2}' | xargs git add"
    ap = apply
    br = branch
    cm = commit
    co = checkout
    cp = cherry-pick
    df = "!git hs | fzf | awk '{print $2}' | xargs -I {} git diff {}^ {}"
    fe = fetch
    hs = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all
    lg = log --graph --name-status --pretty=format:\"%C(green)%h %C(reset)(%cd) %C(blue)[%an] %Creset%s %C(yellow)%d%Creset\" --date=relative
    pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
    ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
    pst = push origin --tags
    rb = rebase
    rs = reset --soft HEAD^
    ru = remote update -p
    st = status
    sw = switch
    find = "!f() { git log --pretty=format:\"%h %cd [%cn] %s%d\" --date=relative -S\"$@\" | fzf | awk '{print $1}' | xargs -I {} git diff {}^ {}; }; f"
    # edit conflicted file on merge
    edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; nvim `f`"
    # add conflicted file on merge
    add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
    # pl = "!git pull $(git config --get branch.$(git rev-parse --abbrev-ref HEAD).remote) $(git rev-parse --abbrev-ref HEAD)"
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[ghq]
    root = ~/developments
