name: CI
on:
  push:
    branches:
      - main
    paths:
      - flake.nix
      - flake.lock
      - lib/**
      - modules/**
      - users/**
      - .github/workflows/ci.yml
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
      - name: Setup Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13
      - name: Check format
        run: nix fmt -- --ci
      - name: Flake check
        run: nix flake check --all-systems --show-trace
